[bumpversion]
current_version = 0.5.0
tag_name = {new_major}-{new_minor}-{new_patch}
commit = True
tag = True

[bumpversion:file:CMakeLists.txt]
search = project(GTlab-PythonNodeModule VERSION {current_version})
replace = project(GTlab-PythonNodeModule VERSION {new_version})

[bumpversion:file:CHANGELOG.md]
search = [Unreleased]
replace = [{new_version}] - {now:%Y-%m-%d}

[bumpversion:file:src/gtpn_module.cpp]
parse = GtVersionNumber((?P<major>\d+), (?P<minor>\d+)[\r\n], (?P<patch>\d+))
serialize = GtVersionNumber({major}, {minor}, {patch})
